body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('texture.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

header {
  background-color: #2e3d3a;
    color: white;
    text-align: center;
  padding: 0.5em;
  border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #04392f;
    padding: 0.5em;
    border-radius: 10px;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #2e3d3a;
}

nav a.active {
    background-color: #2e3d3a;
}


section {
    padding: 1em;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

footer {
  background-color: #2e3d3a;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rp-text {
    color: red; 
    font-weight: bold;
}

.rp-kyrs {
    color: #661eeb; 
    font-weight: bold;
}

.telegram-button {
    background-color: rgba(0, 136, 204, 0.9);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;  
    transition: background-color 0.3s ease;
}

.telegram-button:hover {
    background-color: rgba(0, 85, 128, 1);
}

  .telegram-button:active {
    transform: translateY(1px);
}

.payment-button {
    background-color: #0088cc;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-button:hover {
    background-color: #005580;
}
